/* ----- Light Theme ----- */
.plain { color: black; }

.comment { color: forestgreen; }
.keyword, .html { color: blue; }
.object, .font { color: red; }
.string { color: gray; }
.method { color: darkviolet; }
.gm { color: maroon; }

.property { color: darkorange; }
.value { color: dodgerblue; }
.pseudo { color: darkgreen; }
.important { color: brown; }
.color { color: orchid; }

/* ----- Counter ----- */
.box { counter-reset: n;  }

.box div {
  display: list-item;
  margin-left: 3em;
  counter-increment: n;              /* Increment the section counter*/
}

.box div:hover {
  background-color: #eee;
}

.box div::marker {                  /* FF68+ */
  color: #aaa;
  content: counter(n) ' ';          /* Display the counter */
}

.box div:hover::marker {
  color: #f50;
  font-weight: bold;
}
/* ----- /Counter ----- */

/* ----- Dark Theme ----- */
.dark .box div:hover {
  background-color: #555;
}

.dark .plain { color: white; }
.dark .comment { color: limegreen; }
.dark .keyword, .dark .html { color: deepskyblue; }
.dark .string, .dark .font { color: darkgray; }
.dark .method { color: violet; }
.dark .gm { color: gold; }
.dark .value { color: aqua; }
.dark .pseudo { color: lightgreen; }
.dark .important { color: bisque; }
/* ----- /Dark Theme ----- */