/* ----- General ----- */
body {
  padding: 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

dl {
}

dt {
  color: #004080;
  font-weight: bold;
  width: 10em;
  border-bottom: 1px solid #add8e6;
  margin-top: 1em;
}

dd.image {
  padding-top: 0.3em;
}

dd.image img {
  width: 16px;
  height: 16px;
}

img {
  vertical-align: text-bottom;
}

h2, h3, h4 {
 margin-top: 2em;
}

h2 {
  color: #066;
}

h3 {
  color: #004080;
  margin-bottom: 0
}

h4 {
  margin-bottom: 0
}

h3 span, h4 span {
  margin-left: 0.5em;
  color: #777;
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
}

p {
  margin: 0.2em auto 0.2em 2em;
}

ul {
  margin-top: 0;
  margin-left: 1.5em;
}

a {
  color: #0080ff;
  text-decoration: none;
}

/* ----- Navigation ----- */
nav  {
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

nav a {
  color: #066;
  display: inline-block;
  padding: 0.3em 0.5em;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover {
  border-bottom-color: #f84;
}
/* ----- /Navigation ----- */

strong {
  color: #905;
}

pre {
  background-color: #fff;
  border-left: 4px solid #4682b4;
  padding: 1em;
  margin-left: 2.5em;
}

pre div {
  padding: 0.5em;
  background-color: #f5fffa;
  position: relative;
}

pre div::after {
  content: '\263a';
  color: #0d0;
  opacity: 0.6;
  font-size: 2.5em;
  position: absolute;
  bottom: 0;
  right: 0.2em; 
}

pre div.deprecated {
  background-color: #fff5f5;
}

pre div.deprecated::after {
  content: '\2639';
  color: #f70;
  font-size: 2.1em;
}

blockquote {
  background-color: #fdf5e6;
  border-left: 4px solid #e9967a;
  padding: 1em 2.5em;
  font-style: italic;
  position: relative;
  margin-left: 2em;
  margin-right: 0;
}

blockquote::before {
  content: '\201c';
  color: #e9967a;
  opacity: 0.6;
  font-size: 4em;
  position: absolute;
  top: 0;
  left: 0;
}

blockquote::after {
  content: '\201d';
  color: #e9967a;
  opacity: 0.6;
  font-size: 4em;
  position: absolute;
  bottom: -0.5em;
  right: 0.2em; 
}


cite {
  display: block;
  margin-top: 1em;
  color: #999;
}

cite::before {
  content: '\2014\00A0source: ';   
}

code {
  background-color: #def;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

kbd {
  color: #333;  
  padding: 0 0.2em;
  background: transparent linear-gradient(to bottom, #eaeaea, rgba(0,0,0,0) 60%);
  border-radius: 3px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  line-height: 1;
}

address {
  font-size: 0.9em;
  margin: 2em auto 2em 2em;
}

/* ----- Table ----- */
table {
  background: #fff;
  border: 1px solid #eaeff2;
  margin: 1em auto 2.5em 2em;
  border-collapse: collapse;
  min-width: 70%;
}

th {
  background-color: #e9eef1;
  text-align: left;
  padding: 0.5em;
  border-top: 1px solid #abc;
  border-bottom: 1px solid #fff;
}

tbody th {
  border-top: 0;
  font-weight: normal;
}

tr:nth-child(odd) td {
  background-color: #f4f6f8;
}

tr:nth-child(even) td {
  background-color: #f8fafb;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}

td {
  padding: 0.5em;
}

td p {
  margin: 0;
}

td code {
  background-color: transparent;
  padding: 0; 
  font-size: 1.2em;
  white-space: pre;
}

.pass, .fail {
 font-family: monospace;
}

.pass {
  color: #080;
}

.pass::before {
  content: '\2714\00A0'; 
  font-weight: 900;
}

.fail {
  color: #f00;
}

.fail::before {
  content: '\2718\00A0'; 
  font-weight: 900;
}

.unknown::before {
  content: '\2753\00A0'; 
  font-weight: 900; 
}


h3 sup {
  background-color: #cd853f;
  color: #fff;
  padding: 0.1em 0.4em;
}