/* ----- General ----- */
:root {
  --bg: #f9f9fa;
  --border: #ddd;
  --color: #000;
  --hover: #eee;
  --nav-width: 14em;
  --scrollbar: #ddd #f5f5f5;
  --shadow: #0004;
  --nav-bg: #fff;
  --selected-bg: #eeea;
  --selected-border: #f84;
  --btn-bg: #f9f9fa;
  --btn-hover: #fff;
  --fieldset-color: #066;
  --bg2: #ddda;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #444;
    --border: #777;
    --color: #fff;
    --hover: #888;
    --scrollbar: #888 #222;
    --shadow: #fff8;
    --nav-bg: #000;
    --selected-bg: #555;
    --selected-border: #ccc;
    --btn-bg: #666;
    --btn-hover: #444;
    --fieldset-color: #0cf;
    --bg2: #444;
  }
}

body.dark {
  --bg: #444;
  --border: #777;
  --color: #fff;
  --hover: #888;
  --scrollbar: #888 #222;
  --shadow: #fff8;
  --nav-bg: #000;
  --selected-bg: #555;
  --selected-border: #ccc;
  --btn-bg: #666;
  --btn-hover: #444;
  --fieldset-color: #0cf;
  --bg2: #444;
}


body {
  color: var(--color);
  background: var(--bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  opacity: 0;
  transition: opacity 0.5s;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: text-bottom;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button > * {
  pointer-events: none;
}

label[for],
summary,
.pointer {
  cursor: pointer;
}

::placeholder {
  opacity: 0.5;
  font-style: italic;
}

article {
  padding: 0;
  margin: 0;
  margin-left: var(--nav-width);
  height: 100vh;
}

section {
  padding: 1em;
  height: 99vh;
  display: none;
  overflow-y: auto;
}

iframe {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}

.spacer {
  flex-grow: 1;
}

fieldset {
  transition: 0.5s;
}

fieldset:not(:first-of-type) {
  margin-top: 1em;
}

legend {
  color: var(--fieldset-color);
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.flat {
  color: inherit;
  background: var(--btn-bg);
  border: 1px solid var(--border);
  border-top: 3px solid #3be;
  border-radius: 5px;
  padding: 0.4em 1em;
  font-size: 0.9em;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}

.flat:hover {
  background: var(--btn-hover);
  box-shadow: 0 1px 5px var(--shadow);
}

/* ----- Import/Export ----- */
label[data-i18n^="import"] {
  border-top-color: #6a4;
}

button[data-i18n^="export"] {
  border-top-color: #d24;
}

label[data-i18n^="import"]::before {
  content: '\1f4e5';
  margin-right: 0.3em;
}

button[data-i18n^="export"]::before {
  content: '\1f4e4';
  margin-right: 0.3em;
}

/* ----- Submit Button ----- */
button[type="submit"] {
  color: #fff;
  font-weight: bold;
  padding: 0.3em 3em;
  background: #3bb3e0 linear-gradient(to bottom, #2ca0ca, #3eb8e5);
  border-radius: 5px;
  border: solid 1px #186f8f;
  cursor: pointer;
  position: relative;
  text-shadow: 0 -1px 1px #333;
  display: block;
  margin: 1em auto;
  box-shadow: inset 0 1px 0 #2ab7ec, 0 5px 0 0 #048, 0 10px 5px #999;
}

button[type="submit"]::before {
  background-color: #dcdcdc;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em 0.9em;
  position: absolute;
  left: -0.5em;
  top: -0.5em;
  z-index: -1;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #909193, 0 1px 3px #fff;
}

button[type="submit"]:active {
  top: 0.3em;
  box-shadow: inset 0 1px 0 #2ab7ec, 0 2px 0 0 #008, 0 5px 3px #999;
}

button[type="submit"]:active::before {
  top: -0.8em;
}
/* ----- /Submit Button ----- */

/* ----- Progress Bar ----- */
.progressBar {
  opacity: 0;
  height: 2px;
  width: 0;
  background: #3bb3e0 linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 900% 900%;
  transition: opacity 1s ease-in-out, width 0s ease-in-out 1s;
  animation: rainbow 3s ease infinite;
}

.progressBar.on {
  width: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out, width 2s ease-in-out;
}

@keyframes rainbow {
    0%  { background-position: 0% 100%; }
   50%  { background-position: 100% 200%; }
  100%  { background-position: 0% 100%; }
}
/* ----- Progress Bar ----- */

/* ----- Checkbox ----- */
input[type="checkbox"].control {
  display: none;
}

input[type="checkbox"] {
  background-color: #f9f9fa;
  border: 2px solid #ddd;
  border-radius: 2px;
  -moz-appearance: none; /* FF 35-79 */
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  vertical-align: text-bottom;
  margin: auto 0.5em auto 0;
  transition: background-color 0.5s;
}
input[type="checkbox"]:checked {
  background: #409fd6 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") center no-repeat;
  border-color: #409fd6;
}
/* ----- /Checkbox ----- */

/* ----- Navigation ----- */
input[name="nav"] {
  display: none;
}

nav {
  background: var(--nav-bg);
  width: var(--nav-width);
  min-width: var(--nav-width);
  height: 100vh;
  position: fixed;
  padding: 0.5em 0;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  resize: horizontal;
  overflow-x: auto;
  z-index: 10;
}

nav > label {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s;
  border-right: 4px solid transparent;
}

nav > label:hover {
  background: var(--hover);
}

nav > label img {
  width: 1em;
}

nav label a {
  color: inherit;
}

nav label a:hover {
  text-decoration: none;
}

#nav1:checked ~ article section:nth-of-type(1),
#nav2:checked ~ article section:nth-of-type(2),
#nav3:checked ~ article section:nth-of-type(3),
#nav4:checked ~ article section:nth-of-type(4),
#nav5:checked ~ article section:nth-of-type(5),
#nav6:checked ~ article section:nth-of-type(6) {
  display: block;
  animation: sect 0.5s ease-in-out;
}

#nav1:checked ~ nav label[for="nav1"],
#nav2:checked ~ nav label[for="nav2"],
#nav3:checked ~ nav label[for="nav3"],
#nav4:checked ~ nav label[for="nav4"],
#nav5:checked ~ nav label[for="nav5"],
#nav6:checked ~ nav label[for="nav6"] {
  /*color: #bcd;*/
  background-color: var(--selected-bg);
  border-color: var(--selected-border);
}

@keyframes sect {
    0%  { opacity: 0; }
  100%  { opacity: 1; }
}
/* ----- /Navigation ----- */

/* ----- Nav Scripts ----- */
.list {
  padding: 0.3em 0.5em;
  background: var(--bg2);
  text-align: center;
}

.list label {
  padding: 0;
  border: 0;
}

.list label img {
  width: 0.9em;
}

.list label:nth-of-type(2) img {
  filter: grayscale(1);
}

.list label:nth-of-type(1),
.list label:nth-of-type(2) {
  flex: 1.3;
}

.list label::before {
  content: '\2611\fe0f';
  font-size: 0.8em;
  display: inline-block;
  margin-right: 0.3em;
  vertical-align: bottom;
  transition: 0.5s;
  filter: opacity(0.5) grayscale(1);
}

#listEnable:checked ~ div label[for="listEnable"]::before,
#listDisable:checked ~ div label[for="listDisable"]::before,
#listJS:checked ~ div label[for="listJS"]::before,
#listCSS:checked ~ div label[for="listCSS"]::before {
  filter: opacity(1) grayscale(0);
}

#listEnable:not(:checked) ~ ul li:not(.disabled),
#listDisable:not(:checked) ~ ul li.disabled,
#listJS:not(:checked) ~ ul li.js,
#listCSS:not(:checked) ~ ul li.css {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
  overflow: hidden;
  height: 30vh;
  flex-grow: 1;
  scrollbar-color: var(--scrollbar);
  scrollbar-width: thin;
}

nav ul:hover {
  overflow-y: auto;
}

nav li {
  font-size: 0.8em;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 4px solid transparent;
  padding-left: 0.5em;
}

nav li:hover {
  background: var(--hover);
}

nav li.on {
  background-color: var(--selected-bg);
  border-color: var(--selected-border);
}

nav li.error::after {
  content: '\2718';
  font-weight: 900;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 1em;
  color: #f80;
}

nav li::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

nav li.disabled {
  opacity: 0.5;
}

nav li.disabled::before {
  filter: grayscale(1);
}

nav li.js::before {
  background: url('../image/js.svg');
}

nav li.css::before {
  background: url('../image/css.svg');
}

nav div:last-of-type {
  padding: 0 0.5em;
}

nav div button.flat, nav div label.flat {
  padding: 0.3em;
  font-size: 0.8em;
}

/* ----- Counter ----- */
nav ul {
  counter-reset: n;
}

nav li {
  counter-increment: n;
}

nav ul + div {
  font-size: 0.8em;
  text-align: right;
  position: absolute;
  bottom: 3em;
  right: 1em;
  opacity: 0.5;
}

nav ul + div::after {
  content: counter(n);
}
/* ----- /Counter ----- */
/* ----- /Nav Scripts ----- */

/* ----- Options ----- */
.options fieldset {
  background: var(--nav-bg);
  border-radius: 10px;
  margin-bottom: 1em;
  border: 1px solid var(--border);

}

.options legend {
  background: var(--nav-bg);
  border: 1px solid var(--border);
  padding: 0.2em 1em;
  border-radius: 10px;
  transition: 0.5s;
}

.options br {
  border: 0;
  margin-bottom: 1em;
}

.options fieldset label {
  display: inline-block;
  min-width: 30%;
  margin-right: 1em;
}

.options fieldset label img {
  width: 1em;
}

.description {
  border-left: 2px solid #abc;
  color: var(--fieldset-color);
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.5em;
  margin-top: 0;
  padding-left: 0.3em;
}

.options textarea {
  margin-bottom: 1em;
}

.options details {
  margin-top: 1em;
}

.options summary {
  margin-bottom: 1em;
  list-style: none;
  outline: 0;
}

.options summary ~ * {
  opacity: 0;
  transition: 0.5s;
}

.options details[open] summary ~ * {
  opacity: 1;
}

textarea {
  width: 100%;
}

.invalid {
  box-shadow: none;
  background-color: #fff0f5;
  border-color: #f50;
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}

option {
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="number"] {
  width: 4em;
}

input[type="file"] {
  display: none;
}

img.bin {
  width: 20px;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 0.5em;
  filter: opacity(0.4) grayscale(1);
}

img.bin:hover {
  filter: opacity(1) grayscale(0);
}
/* ----- /Options ----- */

/* ----- Scripts ----- */
section.script {
  padding: 0 1em;
}

.menu {
  display: flex;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--border);
}

.menu > label {
  font-size: 0.8em;
  min-width: 6em;
  margin: auto;
}

.menu > button {
  color: inherit;
  background-color: transparent;
  padding: 0.4em 0.2em;
  font-size: 0.8em;
  text-align: center;
  border: 0;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  min-width: 6em;
  white-space: nowrap;
  outline: 0;
}

.menu > button:hover {
  background: var(--hover);
  border-color: var(--selected-border);
}

/* --- menu popup --- */
.menu details {
  position: relative;
  margin-left: 0.5em;
  padding: 0;
}

.menu summary {
  list-style: none;
  padding: 0.5em;
  transition: 0.5s;
  outline: 0;
}

.menu summary img {
  width: 1em;
  filter: opacity(0.4);
}

.menu summary:hover, .menu details[open] {
  background: var(--hover);
}

.menu details[open] summary ~ * {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0%  { opacity: 0; transform: translateY(-1em); }
  100%  { opacity: 1; transform: translateY(0); }
}

.menu details > div {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  width: 15em;
  position: absolute;
  top: 3em;
  right: 0;
  z-index: 10;
  background: var(--nav-bg);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 var(--shadow);
  transition: 0.5s;
}

.menu details > div::after {
  content: '';
  position: absolute;
  top: -1.5em;
  right: 0.5em;
  border-width: 0.8em;
  border-style: solid;
  border-color: transparent transparent #888 transparent;
}

.menu details > div.expand {
  width: 40vw;
}

.menu details ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu details li {
  padding: 0.3em 0.5em;
  white-space: nowrap;
  transition: 0.5s;
}

.menu details li:not(.theme):not(.textarea) {
  cursor: pointer;
}

.menu details li:not(.theme):not(.textarea):hover {
  background: var(--hover);
}

.menu details li img {
  width: 1em;
}

.menu details li.separator {
  padding: 0;
  margin: 0.5em 0;
  cursor: none;
  border-bottom: 1px solid var(--border);
}

.menu details li.theme {
  color: #fff;
  background: #777;
  border-radius: 5px 5px 0 0;
}

.menu details li.theme select {
  color: inherit;
  width: 50%;
  background: transparent;
  border: 1px solid #ccc;
}

.menu details textarea {
  resize: none;
}

.menu div.report {
  width: 40vw;
}

.menu div.report h4 {
  color: #fff;
  background: #777;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.menu div.report ul {
  max-height: 70vh;
  overflow: auto;
  scrollbar-color: var(--scrollbar);
  scrollbar-width: thin;
}

.menu div.report li {
  display: flex;
  padding: 0 0.5em;
  white-space: normal;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--border);
  transition: none;
  cursor: pointer;
  background-color: var(--bg);
  opacity: 0.7;
}

.menu div.report li::before {
  content: attr(data-line);
  flex: 0 0 3em;
  text-align: right;
  margin: 0 0.5em auto 0.8em;
  color: var(--fieldset-color);
}

.script fieldset {
  border: 0;
  padding: 0;
  height: calc(100vh - 5em);
}

legend.js::before, legend.css::before {
  content: '';
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 0.2em;
  margin-right: 0.5em;
}

legend.js::before {
  background: url('../image/js.svg');
}

legend.css::before {
  background: url('../image/css.svg');
}

legend.disabled::before {
  filter: grayscale(1);
}

legend.antifeature::after {
  content: '\26a0\fe0f';
  margin-left: 2em;
}

legend span {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: #999;
}

.script textarea.box {
  visibility: hidden;
}

footer {
  color: #999;
  font-size: 0.7em;
  text-align: right;
  height: 1em;
  margin-top: 0.5em;
}
/* ----- /Scripts ----- */

/* ----- log ----- */
.log table {
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 0 auto;
  width: 100%;
}

.log thead th {
  color: #fff;
  background: #888;
  padding: 0.5em;
}

.log tbody tr {
  font-size: 0.9em;
  background: var(--nav-bg);
  border-bottom: 1px solid var(--border);
  animation: sect 0.5s ease-in-out;
}

.log td {
  padding: 0.2em;
  vertical-align: top;
}

.log td:nth-of-type(1) {
  width: 15em;
  white-space: nowrap;
}

.log td:nth-of-type(2) {
  width: 15em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log tr.info td:nth-of-type(3)::before {
  content: '\26a0\fe0f';
  margin-right: 0.5em;
}

.log tr.error td:nth-of-type(3)::before {
  content: '\1f6ab';
  margin-right: 0.5em;
}

.log tr:hover {
  background: var(--hover);
}

.log tbody { counter-reset: n; }
.log tbody tr td:first-child::before {
  display: inline-block;
  color: #aaa;
  min-width: 1.5em;
  text-align: right;
  vertical-align: middle;
  margin-right: 0.4em;
  pointer-events: none;
  counter-increment: n;
  content: counter(n);
  font-size: 0.7em;
}
/* ----- /log ----- */

/* ----- Dark Theme ----- */
.dark nav label a img,
.dark .menu li span.plus,
.dark .menu details summary img  {
  filter: invert(1);
}

.dark button[type="submit"]::before {
  filter: brightness(0.4);
}

.dark .bin {
  filter: grayscale(1) invert(1) contrast(4);
}

.dark #nav1:checked ~ article,
.dark #nav2:checked ~ article {
  background: #aaa;
}
/* ----- /Dark Theme ----- */